body,
html {
  background-color: #e7d7c9;
  margin: 0;
  padding: 0;
}

.flex-container {
  background: #a38f85;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px;
  height: 106px;
  padding: 18px;
  /* Adjust height as needed */
}

.container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  background-image: url("../assets/image0.jpg");
  background-size: cover;
  color: #e7d7c9;
}

.logo {
  max-width: 100%;
  width: 137px;
  height: auto;
  padding: 18px;
}

.search-container {
  background-color: #ede9e3;
  padding: 8px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-shrink: 1;
}

.search-icon {
  padding-right: 6px;
}

.search-text-box {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  flex-shrink: 1;
}

.right-side {
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 1;
  gap: 12px;
  width: 600px;
}

.add-media-heading {
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 80px;
  font-weight: lighter;
}

.title-input {
  width: 350px;
  height: 35px;
  text-align: center;
  font-size: 20px;
  border: transparent;
  border-radius: 7px;
  background-color: #ede9e3;
}

.type-selector {
  border: transparent;
  width: 80px;
  height: 25px;
  font-size: 18px;
  font-weight: lighter;
  border-radius: 5px;
  text-align: center;
  background-color: #ede9e3;
}

.media-type-selector {
  font-size: 18px;
  color: #ede9e3;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.add-button {
  background-color: #D4B2A7;
  border: transparent;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-size: 23px;
}