body,
html {
  background-color: #e7d7c9;
  margin: 0;
  padding: 0;
}

.flex-container {
  background: #a38f85;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px;
  height: 106px;
  padding: 18px;
  /* Adjust height as needed */
}

.logo {
  max-width: 100%;
  width: 137px;
  height: auto;
  padding: 18px;
}

.logout-button{
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  width: 150px;
  height:50px;
  font-size: 25px;
  font-weight: 300;
  background: #d4b2a7;
  border-radius: 15px;
  border:none;
  cursor: pointer;
  justify-content: right;
  float: left;
}

.update-button{
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  width: 150px;
  height:50px;
  font-size: 25px;
  font-weight: 300;
  background: #d4b2a7;
  border-radius: 15px;
  border:none;
  cursor: pointer;
  justify-content: right;
  float: left;
  padding-left: 10px;
}



.media-button {
  color: #000000;
  text-align: center;
  font-family: "Inter", sans-serif;
  width: 90px;
  height:30px;
  font-size: 15px;
  font-weight: 300;
  background: #d4b2a7;
  border-radius: 15px;
  border:none;
  cursor: pointer;
  justify-content: right;
}
.search-container {
  background-color: #ede9e3;
  padding: 8px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-shrink: 1;
}

.search-icon {
  padding-right: 6px;
}

.search-text-box {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  flex-shrink: 1;
}

.right-side {
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 1;
  gap: 12px;
  width: 600px;
}

.page-container {
  display: flex;
  justify-content: space-between;
  margin: 100px;
}

.profile-container {
  display: flex;
  gap: 50px;
}

.pfp {
  width: 200px;
  height: auto;
  justify-content: left;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}



.profile-heading {
  font-size: 30px;
  font-weight: bold;
}

.extra {
  justify-self: flex-end;
  align-self: center;
}

.in-progress-container,
.finished-container {
  margin-left: 100px;
  margin-bottom: 50px;
}

.sliding-tile-container {
  display: flex;
  overflow-x: auto;
  /* Enable horizontal scrolling */
  white-space: nowrap;
  /* Prevent tiles from wrapping to the next line */
  padding: 10px;
  /* Add some padding for spacing */
  gap: 20px;
}

.tile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.tile {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 200px;
  /* Set the width of each tile */
  height: 300px;
  /* Set the height of each tile */
  background-color: #D4B2A7;
  /* Set background color */
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* Add some spacing between tiles */
  display: inline-block;
  /* Display tiles inline */
  border-radius: 5px;
  /* Add rounded corners if desired */
  text-align: center;
  /* Center text within tiles */
  line-height: 150px;
  /* Vertically center text */
  border-radius: 10px;
  object-fit: cover;
}

.title-text {
  font-size: 26px;
  font-weight: 500;
  padding-left: 6px;
}

.status-description {
  font-size: 40px;
  font-weight: 400;
}