body,
html {
    background-color: #e7d7c9;
    margin: 0;
    padding: 0;
}

.flex-container {
    background: #a38f85;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px;
    padding: 18px;
    /* Adjust height as needed */
}

.logo {
    max-width: 100%;
    width: 137px;
    height: auto;
    padding: 18px;
}

.search-container {
    background-color: #ede9e3;
    padding: 8px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-shrink: 1;
}

.search-icon {
    padding-right: 6px;
}

.search-text-box {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    flex-shrink: 1;
}

.right-side {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    flex-shrink: 1;
    width: 600px;
}

.page-container {
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.sign-up-form{
    width: 40%;
    float: right;
    margin-outside: 5%;
}

.name-container{
    text-align: right;
    margin-right: 7%;
    margin-top:5%;

}

.first-name{
    color: #9f9f9f;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 300;
    border: none;
    background: #ede9e3;
    border-radius: 15px;
    width: 42%;
    height: 40px;

}

.last-name{
    color: #9f9f9f;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 300;
    border: none;
    background: #ede9e3;
    border-radius: 15px;
    width: 45%;
    height: 40px;

}
.email,
.password,
.confirm-password,
.username {
    width: 100%; /* Ensure the input takes full width */
    margin-top: 2%; /* Add space between inputs */
    margin-left: 10%;
    color: #9f9f9f;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 300;
    border: none;
    background: #ede9e3;
    border-radius: 15px;
    width: 82%;
    height: 40px
}

.sign-up-button{
    width: 82%; /* Ensure the input takes full width */
    margin-top: 4%;
    margin-right: 7%;
    margin-bottom:5%;
    float: right;
    color: #000000;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 300;
    background: #d4b2a7;
    border-radius: 15px;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.create-account{
    color: #000000;
    text-align: right;
    margin-right: 7%;
    font-family: "Adamina", serif;
    font-size: 43px;
    font-weight: 400;
}

.already-have {
    color: #000000;
    text-align: right;
    margin-right: 7%;
    font-family: "Adamina", serif;
    font-size: 20px;
    font-weight: 400;
}


.image-container{
    width: 50%;
    float: left;
}

.image{
    width: 100%;
    height: auto;
}
